pipeline: annotate-braker3
version: 1.0
parser:
  help: Annotate an assembly using BRAKER3
  arg-groups:
    basic:
      mutually-exclusive-args:
        input-parser:
          required: True
      wildcards-args: 
        rnaseq-standardized-wildcard: "{samples}_{reads}.fq.gz"
      args:
        rnaseq-wildcard:
          help: "Wildcard statement to represent RNAseq FASTQs"
          type: str
          mutually-exclusive: "input-parser"
          wildcards: "rnaseq-standardized-wildcard"
        rnaseq-table:
          help: "Table with sample and FASTQs filenames"
          type: str
          action: confirmFile
          mutually-exclusive: "input-parser"
          wildcards: "rnaseq-standardized-wildcard"
        rnaseq-copy-method:
          help: "Specifies if RNAseq FASTQs should be copied or symbolically linked."
          choices:
            - 'symbolic_link'
            - 'copy'
          default: 'symbolic_link'
        assembly-fasta:
          help: "Assembly file"
          type: str
          required: True
          action: confirmFile
        hints-fasta:
          help: "Protein hints file"
          type: str
          required: True
          action: confirmFile
        fasta-copy-method:
          help: "Specifies if assembly and hints files should be copied or symbolically linked."
          choices:
            - 'symbolic_link'
            - 'copy'
          default: 'symbolic_link'
        busco-database:
          help: "Name of BUSCO database"
          type: str
          required: True
        assembly-version:
          help: "Assembly Version"
          type: str
          default:
            str: "v"
            suffix:
              - function: jobRandomString
        annotation-version:
          help: "Annotation Version"
          type: str
          default:
            str: "v"
            suffix:
              - function: jobRandomString
        species:
          help: "Species name"
          type: str
          default:
            str: "Sp"
            suffix:
              - function: jobRandomString
             
setup:
  fastq_file_input:
    methods:
      wildcard-str: "{rnaseq-wildcard}"
      table-file: "{rnaseq-table}"
    args:
      standardized_filename: "RNAseq/FASTQ/{rnaseq-standardized-wildcard}"
      copy_method: '{rnaseq-copy-method}'
      gzipped: True
      sample_keywords:
        - 'samples'
    snakefiles:
      - fastq_process_wildcards

  assembly_input:
    methods: 
      file-str: "{assembly-fasta}"
    args:
      standardized_filename: "Assembly/{species}_{assembly_version}.fa"
      copy_method: "{fasta-copy-method}"
      gzipped: False

  hints_input:
    methods: 
      file-str: "{hints-fasta}"
    args:
      standardized_filename: "Homology/ProteinHints.fa"
      copy_method: "{fasta-copy-method}"
      gzipped: False

snakemake:
  modules:
    - rna_seq_hisat2
    - rna_seq_sort
    - rna_seq_merge
    - assembly_mask_repeatmodeler
    - annotate_rnaseq_braker3
    - process_braker3
    - download_compleasm
    - assembly_compleasm
    - annotations_busco
    - download_augustus
  links:
    - input: fastq_process_single_end
      output: hisat2_single_end
    - input: fastq_process_paired_end
      output: hisat2_pair_end
